:root {
    --primary: #5DD7AD;
    --secondary: #122663;
}

nav {
    z-index: 1000;
}

.form-rounded {
    border-radius: 2em;
}

.form-control {
    padding: 0.75em;
}

h1 {
    padding-bottom: 1em;
}

form {
    max-width: 90%;
}


.btn {
    margin: 1em 0 1em 0;
    border-radius: 5em;
    padding: 0.75em;
    width: 350px;
    max-width: 100%;
    font-weight: bold;
    border: none;
}

.btn-primary {
    background-color: var(--secondary);
}

.btn-primary:hover {
    background-color: var(--primary);
}

a.login {
    color: white;
    text-decoration: none;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--primary);
}

.instruction:hover {
    text-decoration: underline dashed;
    cursor: default;
}

.calendar-icon {
    background-color: lightgrey;
    height: 200px;
    width:  200px;
    border-radius: 100%;
    margin: 5em auto 2em auto;
}

.booked {
    background-color: var(--primary);
}