:root {
    --primary: #5DD7AD;
    --secondary: #122663;
}

nav {
    z-index: 1000;
}

.form-rounded {
    border-radius: 2em;
}

.form-control {
    padding: 0.75em;
}

h1 {
    padding-bottom: 1em;
}

form {
    max-width: 90%;
}


.btn {
    margin: 1em 0 1em 0;
    border-radius: 5em;
    padding: 0.75em;
    width: 350px;
    max-width: 100%;
    font-weight: bold;
    border: none;
}

.btn1 {
    font-size: 30px;
    color: #122662;
    text-align: center;
    justify-self: center;
    align-self: center;
    border-radius: 5em;
    width: 100px;
    max-width: 100%;
    font-weight: bold;
    margin: 25px;
}

.btn-primary {
    background-color: var(--secondary);
}

.btn-primary:hover {
    background-color: var(--primary);
}

a.login {
    color: white;
    text-decoration: none;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--primary);
}

.instruction:hover {
    text-decoration: underline dashed;
    cursor: default;
}

.calendar-icon {
    background-color: lightgrey;
    height: 200px;
    width:  200px;
    border-radius: 100%;
    margin: 1em auto 2em auto;
}

.booked {
    background-color: var(--primary);
}

#splashPage {
    background-image: url('../img/login.png');
    height: 100vh; background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: white;
}

.action-success {
    background-color: var(--primary);
    height: 200px;
    width:  200px;
    border-radius: 100%;
    margin: 1em auto 2em auto;
}

.action-success {
    background-color: #ec5969;
    height: 200px;
    width:  200px;
    border-radius: 100%;
    margin: 1em auto 2em auto;
}

#email, #password, #first_Name, #last_Name, #phone_Number {
    border: 5px solid rgba(85, 85, 85, 0.56);
    border-radius: 20px;
}

#radioAdmin{
    padding-top: 15px;
}

#createUser{
    width: 350px;
}

#failImage{
    padding-bottom: 30px;
    width: 80%;
    height: 80%;
}

#requestTitle{
    color: #122662;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0;
    font-weight: bold;
}

#requestYear{
    color: #122662;
    text-align: center;
    margin-bottom: 35px;
    padding: 0;
    font-weight: bold;
}

#bookLink{
    color: #122662;
    text-align: center;
    padding-top: 50px;
}

#resReq{
    width: 250px;
    margin: 1em 0 0 0;
    border-radius: 5em;
    padding: 0.75em;
    max-width: 100%;
    font-weight: bold;
    border: none;
    background-color: var(--secondary);
    color: white;
}

#resReq:hover{
    background-color: var(--primary);
    color: var(--secondary);
}

#bookHotel{
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin: 40px 40px 40px 40px;
    color: #122662;
    width: auto;
}

#bookHotel:hover{
    color: var(--primary);
}

#btn-group:hover{
    color: var(--primary);
}

input:checked + label {
    background-color: white;
    border: 8px solid var(--primary);
}

.action-none {
    background-color: #6e6869;
    height: 200px;
    width:  200px;
    border-radius: 100%;
    margin: 1em auto 2em auto;
}

.aboutUsCards{
    text-align: center;
    margin: 25px
}

.nameCard{
    font-size: 25px;
    font-weight: bold;
    color: var(--secondary);
}

.card-img-top{
    max-width: 100%;
    max-height: 100%;
}

.box img {
    width: 100%;
    height: 100%;
}

.box1 img {
    object-fit: cover;
}

